# Project
*
!README.md
!ansible.cfg
!galaxy.yml
## Community vars
!community/*/*/libremesh/main.yml
!community/*/*/libremesh/stable.yml
!community/*/*/new-community/main.yml
!community/*/*/new-community/libremesh.yml
!community/*/*/new-community/*.defaults.yml
## Local packages
!files/packages/lime-wireguard/
!/host_vars/lime-000000000000.yml
!/host_vars/localhost.yml

