[passwordstore_lookup]
lock=readwrite
locktimeout=45000s

[defaults]
inventory = ./hosts
# callbacks_enabled = profile_tasks
interpreter_python = /usr/bin/python3
remote_user = root
# vault_password_file= ./.vault

[ssh_connection]
scp_if_ssh=True
